<template>
    <div>
        <from>
            <div slot="form-header">
                <h3> Form one - Contact Us </h3>
                <p>Fill the form to contact us</p>
            </div>  
             <div slot="form-fields">
                <label>E-mail</label><input class="input-style" type="text" placeholder="Enter your email" />
               <label>Your Message: </label>
               <textarea></textarea>  
            </div>
             <div slot="form-controls">
               <button>Submit</button>
            </div>  
        </from>
        </div>
</template>

<script>
export default {
    name:'Contact',
    methods : {
         handleSubmit(){
             alert("Message sent")
         }
     },
}
</script>