<template>
  <div>
      <h1>Keep-alive</h1>
   <keep-alive>
       <component v-bind:is="current"></component>
   </keep-alive>

   <button v-on:click="current='Contact'">Contact</button>
   <button v-on:click="current='Login'">Login</button>

  </div>
</template>

<script>
import Login from "./Login.vue";
import Contact from "./Contact.vue";

export default {
    name:"Home",
    components : {
         Login,
         Contact,
    },
    data(){
        return {
            current: Login
        }
    }
};
</script>