<template>
    <div>
        <from>
            <div slot="form-header">
                <h3> Form two - Login </h3>
                <p>Enter your details to login</p>
            </div>  
             <div slot="form-fields">
                <label>E-mail</label><input class="input-style" type="text" placeholder="Enter your email" />
                <label>password</label><input class="input-style" type="password" placeholder="Enter password" /> 
            </div>
             <div slot="form-controls">
               <button @click="handleSubmit">Login</button>
            </div>  
        </from>
        </div>
</template>

<script>
export default {
     name:'Login',
     methods : {
         handleSubmit(){
             alert("Logged in")
         }
     },
    
}
</script>