<template>
     <div>
        <button class="button" v-on:click='updateButton'>update</button> 

        <!-- conditional rending   -->
        <h1>Passing props</h1> 
        <div align="center" >
        <table border="1" >
            <tr>
                <td>S.no</td>
                <td>Name</td>
                <td>email</td>
            </tr>
            <tr v-for= "user in users" :key="user.id">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
            </tr>
        </table>
        </div>   

    </div>
</template>

<script>
export default {
    name:'childComponent',
    props: ["users"],
    methods:{
        updateButton(){
           this.$emit('changeButton', 'GoodBye')
        }
    },
};

</script>

<style scoped>

.button {
  width: 10%;
  height: 36px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  margin: 10px;
  background-color: green;
}

</style>
