<template>
  <div class="hello">
    <div v-if="show">
      <!-- create lifecycle -->
        <b style="font-size: 20px">{{ message }}</b>
    
      <!-- props from parent component and events -->
      <h1>{{ title }}</h1>
      <childComponent
        v-bind:users="users"
        v-on:changeButton="changedButton($event)"
      />

      <!-- conditional rendering, Computed, Method, form, styling and Computed Setter and getter -->
      <h1>Computed and Method</h1>
      <p>Method: {{ method() }}</p>
      <p>Computed: {{ comput }}</p>
      <p>Method: {{ method() }}</p>
      <p>Computed: {{ comput }}</p>
    </div>

    <div class="form-style" v-else>
      <h1>Computed Setter and getter</h1>
      <label v-bind:style="{ color: 'blue', fontSize: '20px' }">Username</label
      ><br />
      <input
        class="input-style"
        type="text"
        placeholder="Enter username"
        v-model="fields.username"
      /><br />

      <label v-bind:style="{ color: colorKey, fontSize: fontKey }">email </label
      ><br />
      <input
        class="input-style"
        type="text"
        placeholder="Enter email"
        v-model.trim="fields.email"
      /><br />

      <label v-bind:style="{ color: colorKey, fontSize: fontKey }"
        >Password</label
      ><br />
      <input
        class="input-style"
        type="password"
        placeholder="Enter password"
        v-model.trim="fields.password"
      /><br />

      <label v-bind:style="{ color: colorKey, fontSize: fontKey }"
        >Mobile Number</label
      ><br />
      <input
        class="input-style"
        type="number"
        placeholder="Enter mobile number"
        v-model.number="fields.mobile"
      /><br />

      <label v-bind:style="{ color: colorKey, fontSize: fontKey }"
        >Select languages </label
      ><br />
      <input
        class="checkbox-style"
        type="checkbox"
        id="1"
        value="Vue.js"
        v-model="fields.hobbies"
      />
      <label class="label-style" for="Vue.js"> Vue.js</label>
      <input
        class="checkbox-style"
        type="checkbox"
        id="2"
        value="React.js"
        v-model="fields.hobbies"
      />
      <label class="label-style" for="React.js"> React.js</label>
      <input
        class="checkbox-style"
        type="checkbox"
        id="3"
        value="Others"
        v-model="fields.hobbies"
      />
      <label class="label-style" for="Others"> Others</label><br />

      <label v-bind:style="{ color: colorKey, fontSize: fontKey }"
        >Select gender </label
      ><br />
      <input
        type="radio"
        class="checkbox-style"
        id="male"
        value="male"
        v-model="fields.gender"
      />
      <label class="label-style" for="male">Male</label>
      <input
        type="radio"
        class="checkbox-style"
        id="female"
        value="female"
        v-model="fields.gender"
      />
      <label class="label-style" for="male">Female</label><br />

      <label v-bind:style="{ color: 'blue', fontSize: '20px' }"
        >Select state </label
      ><br />
      <select class="input-style" v-model="fields.select">
        <option value="" disabled>Select state</option>
        <option value="AndhraPradesh">Andhra Pradesh</option>
        <option value="Goa">Goa</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Others">Others</option>
      </select>
      <h4 class="detail-style">User Details : {{ fullName }}</h4>
    </div>

    <!-- v-show and watchers -->
    <div v-show="show">
      <h1>watcher</h1>
      Kilometers : <input type="text" v-model="kilometers" /> Meters :
      <input type="text" v-model="meters" />
    </div>

    <!-- events -->
    <button class="button" v-on:click="display()">Click</button>

    <SlotComponent>

       <h2>{{ slotmsg }}</h2>

      <div slot="form-header">
        <h1>Form</h1>
      </div>

      <div slot="form-element">
        <input class="input-style" type="text" placeholder="Enter username" />
        <input class="input-style" type="text" placeholder="Enter email" />
      </div>

      <div slot="form-button">
        <button>Submit</button>
      </div> 

      <div slot="form-footer">
        <p>This is form footer</p>
      </div>
    </SlotComponent>

    <ScopedSlot :users="users">
    <template slot-scope="data">
      <h2>{{data.user}}</h2>
    </template>
    </ScopedSlot>
  </div>
</template>

<script>
import ChildComponent from "./ChildComponent.vue";
import SlotComponent from "./SlotComponent.vue";
import ScopedSlot from "./ScopedSlot.vue";

export default {
  name: "HelloWorld",

  components: {
    ChildComponent,
    SlotComponent,
    ScopedSlot, 
  },

  props: {
    propsMsg: String,
  },

  data() {
    return {
      title: "Welcome",
      message: "hello",
      slotmsg: "passing data from parent to child using slot",
      kilometers: 0,
      meters: 0,
      a: 1,
      colorKey: "blue",
      fontKey: "20px",
      show: true,
      isHovering: true,
      info: "Get more please click button",
      fields: {
        username: "",
        email: "",
        password: "",
        mobile: "",
        hobbies: [],
        gender: "",
        select: "",
      },
      users: [
        { id: "1", name: "vue", email: "vue@vue.com" },
        { id: "2", name: "react", email: "react@react.com" },
        { id: "3", name: "angular", email: "angular@angular.com" },
        { id: "4", name: "next", email: "next@next.com" },
      ],
    };
  },

  computed: {
    comput() {
      return Math.random();
    },

    fullName: {
      get() {
        return this.fields;
      },
      set(newValue) {
        var names = newValue.split(" ");
        this.fields.username = names[0];
        this.fields.email = names[1];
        this.fields.password = names[2];
        this.fields.mobile = names[3];
        this.fields.hobbies = names[4];
        this.fields.gender = names[5];
        this.fields.select = names[names.length - 1];
      },
    },
  },

  methods: {
    method() {
      return Math.random();
    },

    display() {
      this.show = !this.show;
    },

    changedButton(title) {
      this.title = title;
    },
  },

  watch: {
    kilometers(val) {
      this.kilometers = val;
      this.meters = val * 1000;
    },

    meters(val) {
      this.kilometers = val / 1000;
      this.meters = val;
    },
  },

  created() {
    this.message =
      "Using Life cylce hooks message is changed when component creating";
    alert("Created lifecyle: message updated");
  },

  mounted() {
    alert("Mounted lifecyle", this.$el.textContent);
  },
};
</script>

<style scoped>
.button {
  width: 10%;
  height: 36px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  margin: 30px;
  background-color: green;
}

.form-style {
  background-color: cornsilk;
  padding: 10px;
}

.input-style {
  border-radius: 6px;
  width: 30%;
  height: 36px;
  background-color: white;
  margin: 10px;
}

.detail-style {
  font-size: 20px;
}

.label-style {
  font-size: 18px;
  color: black;
}

.checkbox-style {
  width: 15px;
  height: 15px;
  margin: 20px 10px;
}

::placeholder {
  font-size: 16px;
  text-align: center;
}


</style>
