<template>
    <div>
        <h1>Scoped Slots</h1>
        <ul>
            <li v-for= "user in users" :key="user.id">
               <slot :user= "user.name">{{user.name}}</slot>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name:"ScopedSlot",
    props:["users"],
}
</script>