<template>
  <div id="app">
    <HelloWorld propsMsg="hello Vue.js" />
    <hr/>
    <Home />
    <hr />
    <transition /> 
    <hr />
    <Mixins1/>
    <hr />
      <Mixins2/>
      <hr />
      <h1 v-awesome.red.small="'Custom Directive'">Custom Directive</h1>
       <h1 v-awesome.green.big="'Custom Directive'">Custom </h1>
  </div>
</template>

<script>

import HelloWorld from './components/HelloWorld.vue';
import Home from "./components/keepAlive/Home.vue";
import transition from "./components/transition.vue";
import Mixins1 from "./components/Mixins/Mixins1.vue";
import Mixins2 from "./components/Mixins/Mixins2.vue";

export default {
  name: 'App',
  components: {
    HelloWorld,
    Home,
    transition,
    Mixins1,
    Mixins2,
  },
  data(){
    return {
      tagLine : 'vue js'
    }
  },
  // local directive defininig
  directives : {
      'awesome' : {
    bind(el,binding){
    
      el.innerHTML = binding.value;
      el.style.fontSize = '40px';

      //  if( binding.arg == 'red'){
      //    el.style.color = 'red';
      //  } else {
      //    el.style.color = 'green';
      //  }

      el.style.color = binding.modifiers.red ? 'red' : 'blue';
      el.style.fontSize = binding.modifiers.small ? "14px" : "50px";
      
      console.log(binding);
  }
  }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
}
</style>
