<template>
<div>
<ul>
    <li v-for="product in products" :key="product.id" v-text="product">
    </li>
</ul>
 </div>   
</template>

<script>
import prodMixins from "./prodMixins";

export default {
     mixins: [prodMixins],
}
</script>