<template>
  <div>
    <h1>{{title}}</h1>
    <ul>
      <li>Home</li>
      <li>About</li>
      <li v-for="product in products" :key="product.id" v-text="product"></li>
    </ul>
  </div>
</template>

<script>
import prodMixins from "./prodMixins.vue";

export default {
     mixins: [prodMixins],
     data(){
       return {
         title: 'Mixins',
       }
     }

};
</script>