<template>
  <h1>Mixins</h1>
</template>
<script>
export default {
  name: "prodMixins",
  data() {
    return {
      products: [],
    };
  },
  created() {
    this.products = this.loadProducts();
  },
  methods: {
    loadProducts() {
      return ["product A", "product B", "product C", "product D"];
    },
  },
};
</script>